@{
    ViewBag.Title = "Ana Sayfa";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content">
    <!-- =====================================================================
     START THE SLIDER -->
    @{ 
        Html.RenderAction("Sliders", "Home");
    }    
    <!-- END THE SLIDER
    ====================================================================== -->
    
    @{ 
        Html.RenderAction("NewProducts", "Home");
    }

    <!-- =====================================================================
                                 START SERVICES
    ====================================================================== -->
    
    @{ 
        Html.RenderAction("Services", "Home");
    }
    <!-- =====================================================================
                                     END SERVICES
    ====================================================================== -->
    <!-- =====================================================================
                                    START OUR BRANDS
    ====================================================================== -->
    @{ 
        Html.RenderAction("Brands", "Home");
    }    
    <!-- =====================================================================
                                     END OUR BRANDS
    ====================================================================== -->
</div>